name: Deno CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Check Format
        run: deno task fmt

      - name: Lint
        run: deno task lint

      - name: Type Check
        run: deno task check

      - name: Run Tests
        run: deno task test

      - name: JSR Publish Dry-Run
        run: deno publish --dry-run

      - name: Verify NPM Build
        run: deno task build:npm

  publish:
    needs: test
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Publish to JSR
        run: deno publish

  publish-npm:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    # if: startsWith(github.ref, 'refs/tags/v')

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Build NPM package
        run: deno task build:npm

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Update npm to latest
        run: npm install -g npm@latest

      - name: Install dependencies
        working-directory: ./npm
        run: npm ci

      - name: Publish to NPM
        working-directory: ./npm
        run: npm publish --access public --provenance
