name: Deno CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Check Format
        run: deno task fmt

      - name: Lint
        run: deno task lint

      - name: Type Check
        run: deno task check

      - name: Run Tests
        run: deno task test

      - name: JSR Publish Dry-Run
        run: deno task publish-dry-run

      - name: Verify NPM Build
        run: deno task build:npm
